<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.registration.sabbirtech.torchlight">

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.FLASHLIGHT"></uses-permission>
        <uses-permission android:name="android.permission.HARDWARE_TEST"
            tools:ignore="ProtectedPermissions"></uses-permission>


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/flashlight"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TorchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>